* {
    margin: 0;
    padding: 0;
    font-family: calibri;
}
.contact-sec , .about-sec , .experience-sec, .education-sec , .awards-sec, .project-sec, .skill-sec, .language-sec, .hobbies-sec, .ref-sec, .lead-sec{
    padding: 20px 20px 0px;
    display: flex;
    flex-wrap: wrap;
}
.img-sec , .about-h, .experience-h, .education-h, .awards-h, .project-h, .skill-h, .language-h, .hobbies-h, .ref-h, .lead-h{
    width: 20%;
    display: inline-block;
    flex: 0 0 auto;
    text-align: center;
}
.contact-info, .about-p, .experience-p, .education-p, .awards-p, .project-p, .skill-p, .language-p, .hobbies-p, .ref-p, .lead-p{
    width: 80%;
    display: inline-block;
    flex: 1;
}
img.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: solid silver;
    position: top;
  }

p.inline-block {
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}
h3 {
    color: rgb(17, 71, 147);
  }

  /* Media Query for Responsiveness  */
@media (max-width: 768px) {
    .img-sec, .about-h, .experience-h, .education-h, .awards-h, .project-h, .skill-h, .language-h, .hobbies-h, .ref-h, .lead-h {
        width: 100%;
    }
    .contact-info , .about-p, .experience-p, .education-p, .awards-p, .project-p, .skill-p, .language-p, .hobbies-p, .ref-p, .lead-p{
        width: 100%;
    }
}